## Linear Regression in sckit-learn
The aim of this tutorial is to walk us through how to implement Linear regression model in sklearn. Hence, this Notebook will be made as simple as possible for readers to have a clear grasp of how to use LinearRegression().

Note: There are thousands of approaches or modification that can be done with this data but to be in scoup, we keep it simple.

### Import Libraries

In [18]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib.inline

UsageError: Line magic function `%matplotlib.inline` not found.

### Import Dataset
The data set used is the on-going "Womxn in Big Data South Africa: Female-Headed Households in South Africa" hackathon on zindi.africa. I chose it because it doesn't have missing value and we can fit a model without doing much of preprocessing.

And it's paramount to say that I used the training dataset alone as our aim is not to predict or make a submission on Zindi but to see how we can implement Linear Regression in a simple way.

In [19]:
train = pd.read_csv('train_practise.csv')

In [20]:
train.head()

,ward,total_households,total_individuals,target,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,...,pw_03,pw_04,pw_05,pw_06,pw_07,pw_08,ADM4_PCODE,lat,lon,NL
0,41601001: Ward 1,1674.45058,5888.20750,16.773757,0.933841,0.000846,0.005490,0.000676,0.000000,0.001372,...,0.002848,0.007537,0.000000,0.012928,0,0,ZA4161001,-29.682270,24.734743,0.292039
1,41601002: Ward 2,1736.99230,6735.33812,21.496661,0.696940,0.001253,0.004402,0.000000,0.002301,0.001323,...,0.014566,0.057127,0.019092,0.004131,0,0,ZA4161002,-29.119311,24.757737,3.207775
2,41601003: Ward 3,2403.57591,7273.04995,10.931425,0.810545,0.004517,0.008891,0.003986,0.007735,0.000956,...,0.057560,0.010358,0.001421,0.040881,0,0,ZA4161003,-29.142276,25.094093,0.000000
3,41601004: Ward 4,1740.78737,5734.49046,23.119257,0.659914,0.000000,0.006129,0.000000,0.000813,0.037245,...,0.000000,0.000669,0.000000,0.005011,0,0,ZA4161004,-29.372052,24.942867,2.038778
4,41601005: Ward 5,1730.51451,6657.23835,13.652252,0.950575,0.000655,0.001473,0.000598,0.006999,0.000818,...,0.004859,0.001290,0.000673,0.017629,0,0,ZA4161005,-29.409381,25.290165,0.000000

In [21]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2822 entries, 0 to 2821
Data columns (total 63 columns):
ward                 2822 non-null object
total_households     2822 non-null float64
total_individuals    2822 non-null float64
target               2822 non-null float64
dw_00                2822 non-null float64
dw_01                2822 non-null float64
dw_02                2822 non-null float64
dw_03                2822 non-null float64
dw_04                2822 non-null float64
dw_05                2822 non-null float64
dw_06                2822 non-null float64
dw_07                2822 non-null float64
dw_08                2822 non-null float64
dw_09                2822 non-null float64
dw_10                2822 non-null float64
dw_11                2822 non-null float64
dw_12                2822 non-null int64
dw_13                2822 non-null int64
psa_00               2822 non-null float64
psa_01               2822 non-null float64
psa_02               2822 non-null float64
psa_03               2822 non-null float64
psa_04               2822 non-null float64
stv_00               2822 non-null float64
stv_01               2822 non-null float64
car_00               2822 non-null float64
car_01               2822 non-null float64
lln_00               2822 non-null float64
lln_01               2822 non-null float64
lan_00               2822 non-null float64
lan_01               2822 non-null float64
lan_02               2822 non-null float64
lan_03               2822 non-null float64
lan_04               2822 non-null float64
lan_05               2822 non-null float64
lan_06               2822 non-null float64
lan_07               2822 non-null float64
lan_08               2822 non-null float64
lan_09               2822 non-null float64
lan_10               2822 non-null float64
lan_11               2822 non-null float64
lan_12               2822 non-null float64
lan_13               2822 non-null int64
lan_14               2822 non-null float64
pg_00                2822 non-null float64
pg_01                2822 non-null float64
pg_02                2822 non-null float64
pg_03                2822 non-null float64
pg_04                2822 non-null float64
lgt_00               2822 non-null float64
pw_00                2822 non-null float64
pw_01                2822 non-null float64
pw_02                2822 non-null float64
pw_03                2822 non-null float64
pw_04                2822 non-null float64
pw_05                2822 non-null float64
pw_06                2822 non-null float64
pw_07                2822 non-null int64
pw_08                2822 non-null int64
ADM4_PCODE           2822 non-null object
lat                  2822 non-null float64
lon                  2822 non-null float64
NL                   2822 non-null float64
dtypes: float64(56), int64(5), object(2)
memory usage: 1.4+ MB

In [22]:
train.drop(['ADM4_PCODE', 'ward'], axis = 1, inplace = True) # Drop the the variables though we can still make us of them after some transformations

In [23]:
y = train['target'] #Extract my y(predicted)
X = train.drop(['target'], axis=1) #Extract my features (X)

In [24]:
from sklearn.model_selection import train_test_split # This will split my  data into two; for me to have a train and test...

# Test data here is used to see my eveluation metrics...(RMSE for this case)

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)
X_train.columns

Index(['total_households', 'total_individuals', 'dw_00', 'dw_01', 'dw_02',
       'dw_03', 'dw_04', 'dw_05', 'dw_06', 'dw_07', 'dw_08', 'dw_09', 'dw_10',
       'dw_11', 'dw_12', 'dw_13', 'psa_00', 'psa_01', 'psa_02', 'psa_03',
       'psa_04', 'stv_00', 'stv_01', 'car_00', 'car_01', 'lln_00', 'lln_01',
       'lan_00', 'lan_01', 'lan_02', 'lan_03', 'lan_04', 'lan_05', 'lan_06',
       'lan_07', 'lan_08', 'lan_09', 'lan_10', 'lan_11', 'lan_12', 'lan_13',
       'lan_14', 'pg_00', 'pg_01', 'pg_02', 'pg_03', 'pg_04', 'lgt_00',
       'pw_00', 'pw_01', 'pw_02', 'pw_03', 'pw_04', 'pw_05', 'pw_06', 'pw_07',
       'pw_08', 'lat', 'lon', 'NL'],
      dtype='object')

In [26]:
from sklearn.linear_model import LinearRegression # Import Linear regression from sklearn
lr = LinearRegression() # put LinearRegression in a variable called 'lr'
lr.fit(X_train, y_train) # fit the model (Mathematical equation)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [27]:
from math import sqrt
from sklearn.metrics import mean_squared_error

In [29]:
print("RMSE:", sqrt(mean_squared_error(y_test, lr.predict(X_test))))
# Calculate the RMSE which is the square root of mean square error
#lr.predict(X_test)  here will calculated the prediction using the matheatical equation fitted on the X_test

RMSE: 3.7232677926200606

In [30]:
## Our error is 3.723.....

## Advice: 
You can do yourself good by reading up on the mathematical equations behind Linear regression for you to have an understanding of what the model has done.... This applies to all other Machine Learning Models we'd be considering subsequently

## Thank you